<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <main class="mainIndex">
      <div>
        <h1>Polynomials App</h1>
        <div class="signup">
          <a href="/user/signup"><button class="signLog">Sign Up</button></a>
          <a href="/user/login"><button class="signLog">Login</button></a>
          <h3 class="indexH3">Sign up or log in to learn more about each type of polynomial and interact with users.</h3>
        </div>
      </div>
      <img id="carousel" src="https://i.imgur.com/vOjufSn.png" alt="">
    </main>
  </body>

</html>