<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <main>
      <div>
        <h1>Polynomials App</h1>
        <a href="/user/signup"><button>Sign Up</button></a>
        <a href="/user/login"><button>Login</button></a>
        <h2>Sign up or log in to learn more about each type of polynomial and interact with users.</h2>
      </div>
    </main>
  </body>

</html>