<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body class="userBody">
        <main class="user">
            <form action="/user/login" method="post">
                <fieldset>
                    <legend>User Login</legend>
                    <label class="userLogin"><input type="text" name="username" placeholder="Username" required />
                    </label>
                    <label class="userLogin"><input type="password" name="password" placeholder="Password" required />
                    </label></br>
                    <input class="signLog" type="submit" value="Login" />
                </fieldset>
            </form>
        </main>
    </body>

</html>