<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <main>
            <div class="container">

                <h1>Create a New Polynomial</h1>

                <form action="/polynomials" method="post">
                    <h5>
                        Function: <input type="text" name="function" placeholder="Function"></br>
                        Image: <input type="text" name="image" placeholder="Image URL"></br>
                        Type: <input type="text" name="type" placeholder="Type"></br>
                        Form: <input type="text" name="form" placeholder="Form"></br>
                        Degree <input type="number" name="degree" placeholder="Degree"></br>
                        Parent Function: <input type="text" name="parentFunction" placeholder="Parent Function"></br>
                        Parent Function Image: <input type="text" name="imageTwo" placeholder="Image URL"></br>
                    </h5>
                    <input class="signLog" type="submit" value="Create an New Polynomial">
                </form>

            </div>
        </main>
    </body>

</html>