<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <main>
            <div class="container">

                <h1>Create a New polynomial</h1>

                <form action="/polynomials" method="post">
                    Function: <input type="text" name="function" placeholder="Function"></br>
                    Image: <input type="text" name="image" placeholder="Image URL"></br>
                    Type: <input type="text" name="type" placeholder="Type"></br>
                    Form: <input type="text" name="form" placeholder="Form"></br>
                    Degree <input type="number" name="degree" placeholder="Degree"></br>
                    Parent Function: <input type="text" name="type" placeholder="Type"></br>
                    Parent Function Image: <input type="text" name="image" placeholder="Image URL"></br>
                    <input type="submit" value="Create an New polynomial">
                </form>

            </div>
        </main>
    </body>

</html>